.details p {
    font-size: 1.6rem;
}
.details h2 {
    font-size: 4.8rem;
    margin: 5%;
}
.row-wrapper {
    display: flex;
    margin: 5%;
}
.row-wrapper div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3.6%;
}
.row-wrapper div img {
    width: 100%;
    border-radius: 24px;
}
.row-wrapper div h3 {
    font-size: 2.4rem;
}

.row-wrapper div img.thumbnail {
    width: 70%;
}
