.iconss a {
  background-color: initial;
  display: inline-block;
  color: initial;
  padding: initial;
  border-radius: initial;
  text-decoration: none;
  margin-bottom: 60px;
}
.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 352px;
  align-items: center;
  top: 6px;
  margin-right: 30px;
  background-color: #040f14;
  border-right: 2px solid white;
  padding-top: 14px;
  height: 100%;
}
.iconss {
  display: flex;
  flex-direction: column;
  align-items: center;
}
