@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: "Oswald";
    font-weight: 100 900;
    background-color: #040f14;
    color: #ffffff;
}

img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
}
